.feed{
    flex :0.45;
    border-right: 1px solid var(--b-social-media);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed__header {
    position :sticky;
    top: 0;
    background-color: white;
    border :1px solid var(--b-social-media);
    padding :15px 20px;
    z-index :100;

}

.feed::-webkit-scrollbar{
    display: none;
}
.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;
}